/* Style sheet for default.html */
body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.0em;
	margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 5%;
    width: auto;
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}
