<!doctype html>
<!-- advanced elements from h5bp_index.html -->
	<html>
		<head>
			<meta charset=utf-8>
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to stylesheets -->
	<!--	<link rel="stylesheet" href="css/normalize.css"> -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	<!--	        	<li><a href="/about">About</a></li> -->
	<!--        		<li><a href="/blog">Blog</a></li>   -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->		
			<footer>
	    		<ul>
	        		<li><a href="mailto:rjhintz@gmail.com">email</a></li>
					<li><a href="https://twitter.com/rjhintz">twitter</a></li>
	        		<li><a href="https://github.com/rjhintz">github.com/rjhintz</a></li>
				</ul>
			</footer>
		</body>
	</html>
