<!doctype html>
	<html>
		<head>
			<meta charset=utf-8>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--		<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"> 
				</script> -->
	<!--		<script 
				src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js">
				</script> -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	<!--	        	<li><a href="/about">About</a></li> -->
	<!--        		<li><a href="/blog">Blog</a></li>   -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
	<!--         rjhintz tweets -->
	<!--		<a class="twitter-timeline" href="https://twitter.com/rjhintz" data-widget-id="610577793009733635">Tweets by @rjhintz</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	-->		
			<footer>
	    		<ul>
	        		<li><a href="mailto:rjhintz@gmail.com">email</a></li>
					<li><a href="https://twitter.com/rjhintz">twitter</a></li>
	        		<li><a href="https://github.com/rjhintz">github.com/rjhintz</a></li>
				</ul>
			</footer>
		</body>
	</html>
